<!--
 // Cisco Customer Engagement Tool. 
 // dashboard.html 
 -->
<div layout="column" flex layout-fill ng-cloak>
	<div class="bdy h100">
		<div id="nav" ng-include="'pages/nav.html'" ></div>
		<div class="home"> This is home</div>		
	</div>
</div>
<div ui-view></div>
<style type="text/css">
</style>