
<div id="mySidenav" class="sidenav">
	<a href="#" id="home">Home<i class="fa fa-home" aria-hidden="true"></i></a>
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Skills</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div>

<style>
#mySidenav a {
	position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 145px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}
#home {
    top: calc(45% - 160px);
    background-color: #884caf;
}

#about {
    top: calc(45% - 80px);
    background-color: #4CAF50;
}

#blog {
    top: calc(45%);
    background-color: #2196F3;
}

#projects {
    top: calc(45% + 80px);
    background-color: #f44336;
}

#contact {
   top: calc(45% + 160px);
    background-color: #555;
}
</style>
